/* ===== Layout base ===== */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: padding-left 0.3s ease;
}

/* ===== Wrapper do conteúdo ===== */
#page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  max-height: 90%;
  margin: auto;
  overflow: auto;
}

#page-content-wrapper, main {
  flex: 1;
}

/* ===== Footer ===== */
meu-footer, footer.footer {
  margin-top: auto;
}

/* ===== Data e Hora ===== */
#dataHora {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

/* ===== Logo ===== */
#imagem-nome-mind {
  max-width: 150px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* ===== Centralização genérica ===== */
.container-central {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

/* ===== Imagens ===== */
.imagem-eventos {
  min-width: 350px;
  min-height: 250px;
  max-width: 750px;
  max-height: 600px;
  width: 100%;
  height: auto;
  display: block;
}

.imagem-unica-inicio {
  width: 100%;             /* Ocupa toda a largura do col */
  height: 250px;           /* Altura fixa */
  object-fit: cover;       /* Corta a imagem para cobrir todo o espaço */
  object-position: center; /* Centraliza o corte */
  border-radius: 10px;     /* Opcional: bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra sutil */
}

/* ===== Footer ===== */
footer.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.9rem;
  background-color: #212529;
  color: white;
  margin-top: auto;
}

footer.footer a {
  transition: color 0.2s;
  padding: 4px 8px;
  border-radius: 8px;
  text-decoration: none;
}

footer.footer a:hover {
  color: #0d6efd;
  transition: background-color 0.3s ease;
}
